*{
    margin:0;
    padding: 0;
}  

body {
    background: rgb(132, 165, 236);
}

.motors {
    background-color: white;
    width: 100%;
    text-align: center;
    margin: 5% auto;
    position: relative; 
}

#button {
    width: 100px;
    font-weight: bold;
    font-size: 20px;
}

#saveButton {
    text-align: left;
    margin-left: 5%;
}

#runMotors {
    text-align: left;
    margin-left: 5%;
}

#label {
    font-weight: bold;
    font-size: 20px;
}

#range1 {
    width: 800px;
    height: 5px;
}

#amount1 {
    width: 30px;
}

#range2 {
    width: 800px;
    height: 5px;
}

#amount2 {
    width: 30px;
}

#range3 {
    width: 800px;
    height: 5px;
}

#amount3 {
    width: 30px;
}

#range4 {
    width: 800px;
    height: 5px;
}

#amount4 {
    width: 30px;
}

#range5 {
    width: 800px;
    height: 5px;
}

#amount5 {
    width: 30px;
}

#range6 {
    width: 800px;
    height: 5px;
}

#amount6 {
    width: 30px;
}